# Dependencies
node_modules/
venv/
#env/
#.env


# Build outputs
build/
dist/
out/
.next/

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.pyo
*.pyd

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db
